body{
    background-color:#ddd;
}
/* .center{
    background-color: orange;
    width:300px;
    height:100px;
    position:absolute; 
    left:50%;  
    margin-left:-150px;
    top:50%;
    margin-top : -50px;
} */

.center{
    background-color: orange;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:300px;
    height:100px;
    margin:auto;
}
